<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/css/estilos.css' rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>"Mercado Liebre"</title>
</head>

<body>
    <header>
        <div class="principal"></div>
        <img src="/images/logo-mercado-liebre.svg" class="logoPrincipal" alt="Logo MercadoLiebre"><br>
        <input type="search" id="search" placeholder="Buscar productos, marcas" /> <br>
        <span class="lupa">
            <i id="find" class="fas fa-search"></i>
        </span>
        </div>

        <div class="slogan"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</div>
        <ul class="navbar">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>

        </ul>
        <ul class="registro">
            <li>Creá tu cuenta<i class="far fa-address-card icono"></i></li>
            <li class="login">Ingresá<i class="fas fa-sign-in-alt icono"></i></li>
            <li>Mis compras<i class="fas fa-shopping-basket icono"></i></li>

        </ul>

        <div class="burger - menu icono contenedor">
            <i class="fas fa-bars"></i>
        </div>
        <img src="/images/img-home-banner.jpg" class="bannerhome" alt="Banner"><br>

    </header>
    <main>
        <h2>Basado en tu última visita</h2>
        <section class="ultimaVisita">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="caracteristicas">
                    <i class="fas fa-truck"></i>
                    <div class="precios">$6.770</div>
                    <div class="descuentos">%40 off</div>
                    <div class="descripciones"><b>Cafetera Moulinex</b></div>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="caracteristicas">
                    <i class="fas fa-truck"></i>
                    <div class="precios">$230.000</div>
                    <div class="descuentos">%20 off</div>
                    <div class="descripciones"><b>Mac Book Pro</b></div>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                <div class="caracteristicas">
                    <i class="fas fa-truck"></i>
                    <div class="precios">$70.500</div>
                    <div class="descuentos">%10 off</div>
                    <div class="descripciones"><b>Samsung S10</b></div>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv">
                <div class="caracteristicas">
                    <i class="fas fa-truck"></i>
                    <div class="precios">$23.200</div>
                    <div class="descuentos">%5 off</div>
                    <div class="descripciones"><b>Samsung Smart Tv</b></div>
                </div>
            </article>
        </section>
        <h2>Ofertas</h2>
        <section class="ofertas">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="caracteristicas">
                    <i class="fas fa-truck"></i>
                    <div class="precios">$6.770</div>
                    <div class="descuentos">%40 off</div>
                    <div class="descripciones"><b>Cafetera Moulinex</b></div>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="caracteristicas">
                    <i class="fas fa-truck"></i>
                    <div class="precios">$230.000</div>
                    <div class="descuentos">%20 off</div>
                    <div class="descripciones"><b>Mac Book Pro</b></div>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                <div class="caracteristicas">
                    <i class="fas fa-truck"></i>
                    <div class="precios">$70.500</div>
                    <div class="descuentos">%10 off</div>
                    <div class="descripciones"><b>Samsung S10</b></div>
                </div>
            </article>
            <article class="lastArticle">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv">
                <div class="caracteristicas">
                    <i class="fas fa-truck"></i>
                    <div class="precios">$23.200</div>
                    <div class="descuentos">%5 off</div>
                    <div class="descripciones"><b>Samsung Smart Tv</b></div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card iconoF"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift iconoF"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield iconoF"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <h4 id="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>

</html>