<h1>Ofertas</h1>
<img src="/static/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="200" height="200">
<div>$6770</div>
<div>%40 off</div>
<div><b>Cafetera Moulinex</b></div>
<img src="/static/images/img-macbook-pro-2019.jpg" alt="MacBook" width="200" height="200">
<div>$230000</div>
<div>%20 off</div>
<div><b>Mac Book Pro</b></div>
<img src="/static/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" width="200" height="200">
<div>$70500</div>
<div>%10 off</div>
<div><b>Samsung S10</b></div>
<img src="/static/images/img-tv-samsung-smart.jpg" alt="Smart Tv" width="200" height="200">
<div>$23200</div>
<div>%5 off</div>
<div><b>Samsung Smart Tv</b></div>